@{
    ViewData["Title"] = "Du har registrerat dina val";
}
<h2>@ViewData["Message"].</h2>

<div class="text-center">
    <h2>Tack så jäkla mycket för din medverkan!</h2>

    <h4>
        Om du vill se dina resultat, din ranking och ett alternativ som passar dig klickar du <a asp-action="Results"><strong style="color:firebrick">här</strong></a> eller <a asp-action="Results"><strong style="color:firebrick">här</strong></a>
    </h4>
    <p>
        <a asp-action="Results"><img src="~/images/GoodLooking.jpg" alt="Halvsnygg"/></a>
    </p>
    <h4>...eller så klickar ni på bilden ovan...</h4>
</div>